<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page </h1>

<div id="row">
  <input id="websocket_test_button_js" class="btn btn-default" type="button" value="Test me">
</div>
<br/>
<div id="row">
  <div id="alert_space_js"></div>
</div>